@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
        @RenderSection("head", required: false)
        @Html.Partial("_html5shiv")
        @* favicons and touch icons go here *@
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#" title="change in _bootstrapLayout.basic.cshtml">SimplReadr</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            
                        </ul>
                        <div class="pull-right">
                            <ul class="nav pull-right">
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/user/preferences"><i class="icon-cog"></i> Preferences</a></li>
                                        <li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="container">
            <div class="row-fluid">
                <div class="span3">
                    @{ Html.RenderPartial("Sidebar"); }

                </div>
                <div class="span9">
                    @Html.Partial("_alerts")
                    @Html.Partial("_validationSummary")
                    @RenderBody()   
                </div>

            </div>
            <footer>
                
            </footer> 
        </div>
         @Scripts.Render("~/js")
         @RenderSection("Scripts", required: false)
        <script type="text/javascript" src="~/Scripts/custom.js"></script>
    </body>
</html>

