@using System.Web.Optimization
@using SimplReaderMVC.Models.Reader
@using StackExchange.Profiling;
<!DOCTYPE html>
<html lang="en">
    <head>
        @this.InitClientTimings()
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
        @RenderSection("head", required: false)
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
          .sidebar-nav {
            padding: 9px 0;
          }
        </style>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#" title="change in _bootstrapLayout.basic.cshtml">SimplReadr</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            
                        </ul>
                        <div class="pull-right">
                            <ul class="nav pull-right">
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/user/preferences"><i class="icon-cog"></i> Preferences</a></li>
                                        <li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("LogOut", "Account")"><i class="icon-off"></i> Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="container">
            <div class="row-fluid">
                <div class="span3">
                    @{ Html.RenderPartial("Sidebar"); }

                </div>
                <div class="span9">
                    @RenderBody()   
                </div>

            </div>
            <footer>
                
            </footer> 
        </div>
        @{Html.RenderPartial("QuickAddSubscription", new SubscriptionVM());}
        @Scripts.Render("~/Content/js")
         @RenderSection("Scripts", required: false)
       <script type="text/javascript">
           jQuery(document).ready(function () {
               
               jQuery("#addSubscription").click(function (ev) {
                   ev.preventDefault();
                   
                   jQuery("#addSubscriptionModal").modal('show');
               });
           });

       </script>  
        @MiniProfiler.RenderIncludes()
    </body>
</html>

