@using SimplReaderMVC.Resources
@model SimplReaderMVC.Models.Account.LogOnVM

@{
	ViewBag.Title = "title";
	Layout = null;

   AjaxOptions ajaxOptions = new AjaxOptions {
       HttpMethod = "post",
       UpdateTargetId = "validationSummaryLogOn",
       OnSuccess = "ajaxFormSuccess"
   };
}

@using (Ajax.BeginForm("LogOn", "Account", new {}, ajaxOptions, new { @class = "form-signin" })) {
    <h2 class="form-signin-heading">Please sign in</h2>
    @Html.TextBoxFor(x=>x.Email, new {@class="input-block-level",placeholder=Translations.EmailPlaceholder })
    @Html.ValidationMessageFor(x=>x.Email)
    @Html.PasswordFor(x=>x.Password, new {@class="input-block-level",placeholder=Translations.PasswordPlaceholder })
    @Html.ValidationMessageFor(x=>x.Password)
	
	@*<label class="checkbox">
		<input type="checkbox" value="remember-me"> Remember me
	</label>*@
    <button class="btn btn-success" type="submit">@Translations.LogOnButton</button>
    <a class="btn btn-primary" type="submit">@Translations.RegisterButton</a>
}
